*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}
.container .heading{
   width: 50%;
   padding-bottom: 50px;
}
.container .heading h3{
    font-style: italic;
    font-weight: 3rem;
    font-weight: bolder;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}
.container .heading h3 span{
   font-weight: 100;
}
.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.container .box .dream img{
   width: 100%;
   padding-bottom: 15px;
   padding-right: 15px;
   border-radius: 5px;
   box-shadow: 0 0 40px black;
}

.btn{
    margin: 40px 0 70px 0;
    background-color: #222;
    padding: 15px 40px;
    border-radius: 5px;
}
.btn a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}
.img1:hover{
    transform: scale(1.2);
}
.img2:hover{
    transform: scale(1.2);
}
.img3:hover{
    transform: scale(1.2);
}
.img4:hover{
    transform: scale(1.2);
}
.img5:hover{
    transform: scale(1.2);
}
.img6:hover{
    transform: scale(1.2);
}
.img8:hover{
    transform: scale(1.2);
}
.img7:hover{
    transform: scale(1.2);
}
.img19:hover{
    transform: scale(1.2);
}
.img9:hover{
    transform: scale(1.2);
}
.img10:hover{
    transform: scale(1.2);
}
.img11:hover{
    transform: scale(1.2);
}
.img12:hover{
    transform: scale(1.2);
}
.img13:hover{
    transform: scale(1.2);
}
.img20:hover{
    transform: scale(1.2);
}
.img14:hover{
    transform: scale(1.2);
}
.img15:hover{
    transform: scale(1.2);
}
.img16:hover{
    transform: scale(1.2);
}
.img17:hover{
    transform: scale(1.2);
}
.img18:hover{
    transform: scale(1.2);
}
@media only screen and (max-width:769px){
    .container .box{
        flex-direction: column;
    }
    .container .box .dream{
        width: 100%;
    }
}
@media only screen and (max-width:643px){
    .container .heading{
        width: 100%;
     }
     .container .heading h3{
         font-weight: 1rem;
     }
}